body {
    background-color: #a4d94c;
    font-size:130%;
}

.ui.segment.title {
    background-color: #e2ebd4;
    font-size: 280%;
}

.content {
    margin:auto;
    padding: 20px;
    width:70%;
}

h2 {
    color:white;
    font-size: 300%;
}

.segment {
    margin-top:0px!important;
    margin-bottom:0px!important;
    padding-bottom:80px!important;
}
.segment.inv {
    background-color:transparent;
}

.segment.light {
    background-color: #e2ebd4;
}

.segment.light .content h2 {
    color:black;
}

pre {
    
}
pre code {
    padding: 10px 20px 10px 25px!important;
}

.flex_container {
  display: flex;
  justify-content: space-around;
}

.graphs {
  padding: 40px;
  background-color: #e2ebd4;
  width: 90vw;
  margin-left:-10vw;
  margin-top: 80px;
  border-radius: 40px;
}

h3 {
  font-size:160%;
  text-align: center;
}

.inverted a {
  color:white!important;
}
